body {
    background-color: #e30045;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.shape {
  height: 800px;
  width: 800px;
  background-color: #ffffff;
  border-radius: 80px;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
  transform: rotate(-7.5deg);
  border-radius: 0px;
}

.shape>.content {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transform: rotate(+7.5deg);
}
