<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Start</a></li>
      <li><a href="/about">&Uml;ber uns</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </nav>
  <div class="shape">
    <div class="content">

      {{ content }}

    </div><!-- /.container -->
  </div>
  <footer>
    <ul>
      <li><a href="mailto:bla@bla.bla">email</a></li>
    </ul>
  </footer>
</body>
</html>
